.picture-upload i {
  cursor: pointer;
  text-align: left;
}
.file-upload-previewer {
  border: 1px solid #ddd;
  width: auto;
  margin-bottom: 30px;
  padding: 5px;
}
#img-previewer {
  max-width: 200px;
}